
* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

label{
  border: 1px solid #ccc;
  border-radius:5px;
  margin-bottom: 20px;
  font-size: 13px;
  background:light grey;
  padding: 10px;
}
.App {
  text-align: center;
}

.Question{
  margin-top:20px;
  margin-bottom:20px
}

.container {
  text-align: center;
  padding: 15px;
  margin: 30px auto;
}

.csv-input {
  display: none;
  opacity: 0;
}

.buttonContainer{
  width:100%;
}

.center{
  margin-left:auto;
  margin-right:auto;
}

.project_title {
  display:inline;
  padding-left:1rem;
  padding-right:1rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}
.title-box{
  position:relative;
  display: inline-block;
  top:30px;
  padding-right:10rem;
  left:60px;
}
.App {
  text-align: center;
}

.project_title {
  display:inline;
  padding-left:1rem;
  padding-right:1rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}
.title-box{
  position:absolute ;
  display: inline-block;
  top:30px;
  padding-right:10rem;
  left:30px;
}
