
* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

label{
  border: 1px solid #ccc;
  border-radius:5px;
  margin-bottom: 20px;
  font-size: 13px;
  background:light grey;
  padding: 10px;
}
.App {
  text-align: center;
}

.container {
  text-align: center;
  padding: 15px;
  margin: 30px auto;
}

.csv-input {
  display: none;
  opacity: 0;
}

.buttonContainer{
  width:100%;
}

.center{
  margin-left:auto;
  margin-right:auto;
}
